.App {
    width: 75%;
    margin: 0 auto;
    overflow-wrap: break-word;
    -webkit-align-content: center;
}

nav {
    display: inline-block;
    margin: 6px 0 0;
    padding: 0;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 6px;
}

nav > .homeIcon {
    margin-left: 6px;
    margin-right: 2em;
    will-change: filter;
}

nav > .homeIcon:hover {
    filter: drop-shadow(0 0 9px #646cffaa);
}

nav > a {
    color: white;
    margin-right: 24px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-decoration: inherit;

    font-size: large;
    font-weight: 700;
}

nav > a:hover {
    background: linear-gradient(90deg, #FA894A 0%, #EE37FF 100%);
    /* Use text as a mask for background, so gradient text shows */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*noinspection CssInvalidPropertyValue*/
    background-clip: text;
    text-fill-color: transparent;
}


nav > a:visited {
    color: inherit;
}

.home {
    color: white;
    background-color: #0C4762;
    padding: 10px;
    text-align: center;
}

.home > h1 {
    font-size: 45px;
}

/*
TODO: Modify styling for max-width: 512px
Use a collapsing navbar for this scenario?
 */
@media (max-width: 512px) {
    nav > .homeIcon {
        margin-right: 1em;
    }
    nav > a {
        margin-right: 12px;
    }
}

@media (prefers-color-scheme: dark) {
    nav {
        background-color: rgba(26, 26, 26, 0);
    }
}
