.App {
    width: 75%;
    margin: 0 auto;
    overflow-wrap: break-word;
    -webkit-align-content: center;
}

nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    width: 100%;
    border-radius: 6px;
}

nav > .homeIcon {
    margin-left: 6px;
    margin-right: 32px;
    will-change: filter;
}

nav > .homeIcon:hover {
    filter: drop-shadow(0 0 9px #646cffaa);
}

nav > a {
    margin-right: 12px;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;

    font-size: large;
    font-weight: bold;
}
